<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open form</button>
        <h1>{{ 'Nilai a    : ' + a }}</h1>
        <h1>{{ 'Rata-rata  : ' + rata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                rata : 0
            },
            methods : {
                openForm() {
                    this.a = parseInt(prompt("Masukan nilai a"))
                    this.rata = this.a     
                    for (i=1;i<10;i++) {
                        if (this.a < 10) {
                            this.b = parseInt(prompt("Masukan nilai a"))
                            this.a = this.a + this.b
                            this.rata = this.a/(i+1)
                        } else {
                            this.a
                            this.rata 
                        }
                    }  
                    
                }
            }
        })
    </script>
</body>
</html>