<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ fullName }}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        firstName : 'Tuanku',
        lastName : 'Imam Bonjol'
      },
      computed : {
        fullName : {
          get(){
              return this.firstName + " " + this.lastName
          },
          set(para){
              let nama = para.split(' ')
              let pjg = nama.length
              for (i=0; i<=pjg; i++) {
                if (i == 0) {
                  this.firstName = nama[0]
                } else if (i == 1) {
                    this.firstName = nama[0]
                    this.lastName = nama[1]
                } else if (i == 2) {
                    this.firstName = nama[0]
                    this.lastName = nama[1] + " " + nama[2]
                }
              }
               
          }
        }
      },
      methods : {}
  })
  </script>
</body>
</html>