<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        form {
            border: 1px solid #ddd;
            padding: 20px;
            width: 275px;
            background: #b8c8e0;
        }
        label {
            display: block;
            margin-top: 4px;
        }
        .submit, input, textarea{
            min-width: 250px;
        }
        img {
            width: 100px;
        }
        
    </style>

</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()" >
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Nama</label>
            <input type="text" name="name" ref="name" v-model="name">
            <label>Alamat</label>
            <textarea type="text" name="address" ref="address" v-model="address"></textarea>
            <label>Nomor HP</label>
            <input type="text" name="no_hp" ref="no_hp" v-model="no_hp"></input>
            <br><br>
                <div v-if="status == 'submit'" >
                <input type="submit" value="Submit">
            </div>
            <div v-else-if="status == 'update'">
                <input type="button" value="Update" @click="updateMember(id)">
            </div>
            <div v-else-if="status == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="Upload" @click="submitPhoto(idUploadMember)" style="margin-top: 5px;">
            </div>
        </form>  

        <br><br>

        <table border="1px" v-for="member in members">
            <thead>
                <tr>
                    <td>Foto</td>
                    <td>Nama</td>
                    <td>Alamat</td>
                    <td>No HP</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(member, index) in members":key="index">
                    <td>
                        <img v-if="member.photo_profile != null" :src="url+member.photo_profile">
                        <img v-else src="https://dummyimage.com/600x400/000/fff">
                    </td>
                    <td>
                        {{member.name}}
                    </td>
                    <td>
                        {{member.address}}
                    </td>
                    <td>
                        {{member.no_hp}}
                    </td>        
                    <td>
                        <button @click="editForm(member)">Ubah</button>
                        <button @click="deleteForm(member.id)">Hapus</button>
                        <button @click="UploadPhoto(member)">Upload Photo</button>
                    </td>        
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            url : 'http://demo-api-vue.sanbercloud.com',
            id : '',
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            members : [],
            status : 'submit',
                    
        },
        created() {
            this.getMembers()
        },
        methods: {
            validForm : function() {
                this.errors=[]
                if (this.name.length > 25) {
                    this.errors.push('Batas maksimal pengisian nama 25 karakter')
                    this.$refs.name.focus()
                }
                if (this.address.length > 100) {
                    this.errors.push('Batas maksimal pengisian alamat 100 karakter')
                    this.$refs.address.focus()
                }
                if (this.no_hp.length > 100) {
                    this.errors.push('Batas maksimal pengisian nomor hp 12 karakter')
                    this.$refs.no_hp.focus()
                }
            },

            clearForm : function(){
                this.name = ''
                this.address = ''
                this.no_hp = ''
            },

            submitForm: function () {
                this.validForm();
                if (this.errors.length === 0) {

                    let formData = new FormData()
                    formData.append("name", this.name)
                    formData.append("address", this.address)
                    formData.append("no_hp", this.no_hp)
                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData, 
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            alert(response.data.message)
                            this.getMembers()
                        })
                        .catch( (error) => {
                        })
                }
            },

            getMembers : function(){
                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member" 
                }

                axios(config)
                .then( (response) => {
                    this.members = response.data.members
                    console.log(response.data.members)
                    })
                .catch( (error) => {
                    })
            },

            UploadPhoto : function(member){
                this.status = "upload"
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.id = member.id
            },

            submitPhoto : function(id){
                let file = this.$refs.photo_profile[0]
                let formData = new FormData()
                formData.append('photo_profile', file);

                let config = {
                    method : "get",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${this.id}/upload-photo-profile`,
                    data : formData,
                }

                axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.status = 'submit'
                    this.getMembers()
                    console.log(response.data.members)                    
                })
                .catch( (error) => {
                    console.log(error);
                })
            },

            deleteForm : function(id){
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/1?_method=DELETE${this.id}`,
                    params : { _method : "DELETE" }
                }

                axios(config)
                .then( (response) => {
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            },

            editForm : function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.status = "update"
                this.member = member
                this.id = member.id
            },

            updateMember : function(id){
                this.validForm();

                if (this.errors.length === 0) {
                    const formData = new FormData()
                    formData.append("name", this.name)
                    formData.append("address", this.address)
                    formData.append("no_hp", this.no_hp)
                    
                    let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${this.id}`,
                    data : formData,
                    params : { _method : "PUT" }
                    }

                    axios(config)
                    .then( (response) => {
                        this.getMembers()
                        this.clearForm()
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },

            uploadMember : function(){
                const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member/1?_method=PUT",
                    params : { _method : "PUT" }
                }

                axios(config)
                .then( (response) => {
                    this.getMembers()
                })
                .catch( (error) => {
                    console.log(error)
                })
            },
        },
    });
  </script>  
</body>
</html>

