<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <form @submit.prevent="tambahdata()">
        <input type="text" v-model:value="masukan">
        <input type="submit" v-model:value="kondisi">
    </form>
    <ul v-for="user in users">
        <li>
        {{user.name}} 
        <button  @click = "editdata(user.name)">edit</button> || <button  @click = "hapus(user.name)">delete</button>
        </li>
    </ul>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                kondisi : 'add',
                masukan: "",
                edit: "",
                users :[
                    {'name' : 'Muhammad Iqbal Mubarok'},
                    {'name' : 'Ruby Purwanti'},
                    {'name' : 'Faqih Muhammad'}
                ]
            },
            methods : {

                tambahdata : function(){
                    if(this.kondisi=='add'){
                    this.users.push({'name': this.masukan});
                    this.masukan = "";
                    this.kondisi = 'add'
                    }else if(this.kondisi=='update'){
                        let index = this.users.map(function(x) {return x.name; }).indexOf(this.edit); 
                            if (index > -1) {
                                this.users.splice(index, 1);
                                this.users.splice(index, 0,{'name': this.masukan});
                            }
                        this.masukan = "";
                        this.edit ="";
                        this.kondisi = 'add'
                    }
                },
            
                editdata : function(name){
                    this.masukan = name
                    this.edit = name
                    this.kondisi = 'update'
                },

                hapus : function(data){

                    var index = this.users.map(function(x) {return x.name; }).indexOf(data); 
                        if (index > -1) {
                            this.users.splice(index, 1);
                        }
                    return this.users;
      
                }
                
            }
        })
    </script>
</body>
</html>