<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="booksForm()">
            <input type="text" v-model="masukan">
    
            <ul>
                <li v-for="books in booksForm">
                    {{books}}
                </li>

            </ul>
            
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            books : [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linear Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ],
            masukan : [],
        },
        computed : {
            booksForm : function() {
                return this.books.filter((huruf) => {
                    let b = huruf.includes(this.masukan)
                    return b
                    
                })
            } 
        }
    })
  </script>
    
</body>
</html>